@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_navbarRegister");


<div class="container mt-5">
    <h3 class="text-secondary">Yetkisiz Alana Giriş Yapmaya Çalıştınız. Anasayfaya yönlendiriliyorsunuz...</h3>
</div>




@section Scripts{
    <script>
        window.setTimeout(function(){
        window.location.href='/';
        }, 3000);
    </script>
}