@{
    Layout="_Layout";
}


@await Html.PartialAsync("_navbarRegister")
<div class="container my-4">
@await Html.PartialAsync("_messages")
<h4>Bu giriş yapmak için bu <a href="~/account/login">linke</a> tıklayabilirsiniz. </h4>
</div>


