@{
    Layout="_Layout";
}


@await Html.PartialAsync("_navbarRegister")
<div class="container my-4">

<form asp-controller="Account" asp-action="ForgotPassword" method="POST" >
    
    <div class="container my-4">
        
        <h1 class="h3 my-4">Şifre sıfırlama</h1>
        @await Html.PartialAsync("_messages")
        <div class="form-inline">
        <div class="form-group">
           
            <div class="text-danger" asp-validation-summary="ModelOnly"></div> 
            <label for="email" class="col-sm-2 col-form-label mb-2">Email Adresiniz</label>
            <input type="email" class="form-control col-md-5" name="Email">
            
            <button class="btn btn-primary m-4" type="submit">Gönder</button>
            <p class="my-4 font-weight-bold">Emailinize şifre sıfırlama linki gönderilecektir. Gönderilen linke tıklayarak şifre sıfırlama sayfasına gidebilirsiniz.</p>
             
        </div>
        </div>
        
       

    </div>

</form>
</div>
