@{
    Layout = "_Layout";
    
}
@model ProductModel


@await Html.PartialAsync("_navbar2")


<hr>
<form asp-controller="Admin" asp-action="CreateProduct" method="POST" enctype="multipart/form-data">
    
    <div class="container">
        
        <h1 class="h3 my-4">Ürün Oluştur</h1>
        <partial name="_messages" model="@(TempData.Get<AlertMessage>("message"))" />
        
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control"
                    placeholder="Ürün Adı">
                    <span asp-validation-for="Name" class="text-danger my-2"></span>
            </div>
            <label asp-for="Price" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="Price" type="text" class="form-control"
                    placeholder="0">
                    <span asp-validation-for="Price" class="text-danger my-2"></span>
            </div>
            
                    
                    <label asp-for="ImageUrl"
                        class="col-sm-2 col-form-label mb-2"></label>
                        <div class="col-sm-10">
                    
                        <input asp-for="ImageUrl" type="hidden">
                        <input type="file" name="file">
                        
                        
                    
            </div>
        </div>
        
         @foreach (var category in (@List<Category>)ViewBag.Categories)
        {
            <div class="custom-control custom-radio">
                    <input type="radio" 
                    class="custom-control-input" 
                    name="categoryId"
                    value="@category.CategoryId"
                    id="category-@(category.CategoryId)" 
                    
                    
                    >
                    <label class="custom-control-label" for="category-@(category.CategoryId)">@category.Name</label>
                </div>
        }
        
        
        
        
       <button class="btn btn-primary my-4" type="submit">Ürünü Kaydet</button>
    </div>

</form>

@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
}
