@model CategoryModel

@{
    Layout="_Layout";
}
@await Html.PartialAsync("_navbar2")

<form asp-controller="admin" asp-action="Createcategory" method="POST">
 
    <div class="container">
        <h1 class="h3">Create Category</h1>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="Name" type="text" class="form-control" placeholder="Kategori Adı">
        </div>
        
        <label asp-for="ImageUrl" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="11.jpg">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Kategori türünü Kaydet</button>
    </div>

</form>