@{
    Layout = "_Layout";
    
}
@model UserDetailModel


@await Html.PartialAsync("_navbar2")


<form asp-controller="admin" asp-action="EditUser" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="UserId" value="@Model.UserId">
    <div class="container">
        <h1 class="h3 my-4">Kullanıcıyı Düzenle</h1>
        
        <partial name="_messages" model="@(TempData.Get<AlertMessage>("message"))" />
        <div class="form-group row">

            <label asp-for="UserName" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="UserName" type="text" class="form-control"
                    placeholder="Ürün Adı">
                    <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <label asp-for="FirstName" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" type="text" class="form-control"
                    placeholder="3.50">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <label asp-for="LastName" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" type="text" class="form-control"
                    placeholder="3.50">
                    <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <label asp-for="Email" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="Email" type="text" class="form-control"
                    placeholder="3.50">
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <label asp-for="EmailConfirmed" class="col-sm-2 col-form-label mb-2"></label>
            <div class="col-sm-10">
                <input asp-for="EmailConfirmed" type="checkbox" class="form-control">
                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>

        </div>
        
       
        
        
        <button class="btn btn-primary my-4" type="submit">Değişiklikleri Kaydet</button>
    </div>

</form>


@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
<script src="~/js/data.js"></script>
}
