@model ProductCategoryListViewModel
@{
    Layout="_Layout";
    var categories = Model.Categories;
    var products = Model.Products;
}

@await Html.PartialAsync("_navbar")
@await Html.PartialAsync("_header")

<main>
<div class="row justify-content-md-center no-gutters bg-light" id="products">
@foreach (var category in categories)
{
    <div class="col-lg-3 col-sm-6 mb-0 no-gutters">
        @await Html.PartialAsync("_categories",category)
        <div class="collapse multi-collapse bg-light my-4"
                        id="collapsable-@category.CategoryId">

                        <form action="">
                            
                            @foreach (var product in products)
                            {
                                @if (products.Count()==0)
                                {
                                    @await Html.PartialAsync("_noproduct");
                                }
                                @if (product.CategoryId==category.CategoryId && product.IsApproved)
                                {
                                     @await Html.PartialAsync("_products",product);
                                }
                                
                                
                                                               
                            }

                           <div class="row justify-content-center">
                               <div class="col-auto">
                                   <button class="btn btn-outline-info float-right my-2"
                             asp-controller="shop" asp-action="addtocart">Sepete Ekle</button>
                               </div>
                           </div>
                            
                        </form>
                    </div>
    </div>
    
}
</div>


<div class="why bg-success my-4 p-3" id="why">

<h3 class="text-white text-left title ">Neden Almalıyım?</h3>
<p class="text-white text-md-left text-sm-left ">Kızılcahamam,
    Ankara'nın kuzey
    batısında bulunan hamurişi kültürü (Bazlama, Gözleme
    vs.) ile meşhur bir ilçesidir. Türkiye'nin çeşitli
    yerlerinden gelerek bu hamurişlerini evlerine götüren
    birçok insan var. Bu güzelliklerden mahrum kalmaman
    adına memleketinde yapılıp evine teslim edilecek olan bu
    hamurişleri için hemen almalısın. Buraya gelmene gerek
    yok, bir bazlama bir tık ötende...</p>


</div>

</main>


