@{
    Layout="_Layout";
    var categories = Model.categories;
}



<div class="why bg-success p-3" id="why">

<h3 class="text-white text-left mb-4 title ">Neden Almalıyım?</h3>
<p class="text-white text-md-left text-sm-left ">Kızılcahamam,
    Ankara'nın kuzey
    batısında bulunan hamurişi kültürü (Bazlama, Gözleme
    vs.) ile meşhur bir ilçesidir. Türkiye'nin çeşitli
    yerlerinden gelerek bu hamurişlerini evlerine götüren
    birçok insan var. Bu güzelliklerden mahrum kalmaman
    adına memleketinde yapılıp evine teslim edilecek olan bu
    hamurişleri için hemen almalısın. Buraya gelmene gerek
    yok, bir bazlama bir tık ötende...</p>


</div>


