@model Category



<div class="card bg-dark text-light border-0 d-block w-100 product-card"
    data-toggle="collapse" data-target="#collapsable-@Model.CategoryId">
    <div class="img-overlay"></div>
    <img src="~/img/Categories/@Model.ImageUrl" class="card-img" alt="...">
    <div class="card-img-overlay text-center mt-5">
        <h5 class="card-title mt-5" id="categories">@Model.Name</h5>
        <input type="hidden" name="CategoryName" value="@Model.Name">
    </div>
</div>
