<header>
        <div class="jumbotron jumbotron-fluid"  id="home">

            <div class="container">
                <h1 class="display-5 text-light my-4 px-2">Kızılcahamam Bazlama
                </h1>
                <h4 class="mt-5 text-light lead my-5" id="leadText">Bazlamayı,
                    Gözlemeyi ve her türlü hamurişini memleketinden alın...</h4>

            </div>

        </div>

    </header>