@model AlertMessage

@if (TempData["message"] != null)
{

    <div class="alert @Model.AlertType">
        @if (Model.Title!=null)
        {
            <h4 class="alert-title">@Model.Title</h4> 
        }
        
        <p>@Model.Message</p>
    </div>
}