
<nav id="navbarMain"
    class="navbar navbar-expand navbar-dark navbar-fixed bg-success border-bottom">
    <div class="container">
        <a href="/" class="navbar-brand">Bazlama</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a asp-controller="Home" asp-action="Index"
                    class="nav-link">Anasayfa</a>
           
            </li>
            <li class="nav-item"><a href="~/Home/Index#products"
                    class="nav-link">Ürünler</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Cart" asp-action="Index"
                    class="nav-link text-light" id="cart" data-toggle="tooltip"
                    data-placement="top" title="Sepetim"><i
                        class="fas fa-shopping-cart"></i><span class="badge" id="notification"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-light" id="user" data-toggle="dropdown"
                    title='Kullanıcı Girişi'><i class="fas fa-user"></i></a>
                <div class="dropdown-menu">


                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        <a class="dropdown-item disabled">Hoşgeldiniz,
                            @User.Identity.Name</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Order"
                            asp-action="GetOrders">Siparişlerim</a>
                        <a class="dropdown-item" asp-controller="Account"
                            asp-action="Manage">Hesap Ayarları</a>
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("admin"))
                              {
                                  <a asp-controller="admin"
                              asp-action="products" class="dropdown-item">Ürün Listesi</a>
                              <a asp-controller="admin" asp-action="categories" class="dropdown-item">Kategori Listesi</a>
                              <a href="admin/orders/all" class="dropdown-item">Sipariş Listesi</a>

                              }
                              if (User.IsInRole("master"))
                              {
                                  <a asp-controller="admin" asp-action="RolesList" class="dropdown-item">Rol Listesi</a>
                                  <a asp-controller="admin" asp-action="UserList" class="dropdown-item">Kullanıcı Listesi</a>
                              }
                        <a class="dropdown-item" asp-controller="Account"
                            asp-action="Logout">Çıkış Yap</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-controller="Account"
                            asp-action="Login">Giriş Yap</a>
                        <a class="dropdown-item" asp-controller="Account"
                            asp-action="Register">Üye ol</a>
                        
                    }


                    </div>
                </li>
            </ul>
        </div>
    </nav>

    