@model Product

<div class="container-fluid form-inline ">
    <div class="col-md-12 mt-3">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img src="~/img/Products/@Model.ImageUrl" style="width: 200px; height:150px" class="img-fluid changingImage" 
                        alt="" srcset="">
                </div>
                <div class="card-body">

                    <h5 class="card-title text-dark">
                        @Model.Name</h5>
                    <p class="card-text text-dark">
                        @Model.Price TL</p>
                    <div class="input-group float-right my-2">

                        <div class="input-group-prepend">
                            <button class="btn btn-info btn-sm text-light"
                                id="minus-@Model.ProductId"><i class="fas fa-minus"></i></button>
                        </div>
                        <input type="text" class="form-control input-sm" onkeypress="return isNumber(event)"
                            id="quantity-@Model.ProductId" name="quantity" value="1" min="1" max="100"
                            step="1">
                        <div class="input-group-append">
                            <button class="btn btn-info btn-sm text-light"
                                id="plus-@Model.ProductId"><i class="fas fa-plus"></i></button>
                        </div>
                        <input type="hidden" name="productId" id="productId-@Model.ProductId"
                            value="@Model.ProductId">

                            <input type="hidden" name="CategoryId" id="productId-@Model.CategoryId"
                            value="@Model.CategoryId">
                            
                            <script>
                                $(document).ready(function () {
                                        
                                            $("#plus-@Model.ProductId").click(function (e) { 
                                                let quantity=$("#quantity-@Model.ProductId").val();
                                                quantity++;
                                                if (quantity>=100) {
                                                    quantity=99;
                                                }
                                                $("#quantity-@Model.ProductId").val(quantity);
                                                e.preventDefault();
                                            });
                                            $("#minus-@Model.ProductId").click(function (e) { 
                                                let quantity=$("#quantity-@Model.ProductId").val();
                                                quantity--;
                                                if (quantity<=0) {
                                                    quantity=1;
                                                }
                                                $("#quantity-@Model.ProductId").val(quantity);
                                                e.preventDefault();
                                            });


                                        
                               
                                $("#addToCart-@Model.ProductId").click(function(e){
                                    const productId=$("#productId-@Model.ProductId").val();
                                    const quantity=$("#quantity-@Model.ProductId").val();
                                    var data = {"ProductId" : productId, "Quantity" : quantity};
                                    
                                    $.ajax({
                                      async:true,
                                      type: "POST",
                                      url: "/Cart/AddtoCart",
                                      data: data,
                                      dataType:"JSON",
                                      success: function (response) {
                                      }
                                     }).always(function () {

                                         $.ajax({
                                             type: "GET",
                                             url: "/cart",
                                             success: function (response) {
                                                 if (response.match(/productInCart/gm)==null) {
                                                     $("#notification").css("display", "none");
                                                 }else{
                                                     $("#notification").css("display", "inline");
                                                 notification = response.match(/productInCart/gm).length;
                                                                           $("#notification").html(notification);
                                                  }
                                              }
                                          });


                                        });
                                    e.preventDefault();
                                })

                                });
                                   
                            </script>
                            
                           
                        
                    </div>
                </div>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div>
                    <div class="col-auto">
                        <a class="btn btn-outline-info float-right my-2"
                            asp-controller="Account" asp-action="Login">Sepete
                            Ekle</a>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <div class="col-auto">
                        <button class="btn btn-outline-info float-right my-2"
                            type="submit" id="addToCart-@Model.ProductId">Sepete Ekle</button>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
