@model Product

<div class="container-fluid form-inline ">
    <div class="col-md-12 mt-3">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img src="~/img/Products/@Model.ImageUrl" class="img-fluid"
                        alt="" srcset="">
                </div>
                <div class="card-body">

                    <h5 class="card-title text-dark">
                        @Model.Name</h5>
                    <p class="card-text text-dark">
                        @Model.Price &#8378</p>
                    <div class="input-group float-right my-2">

                        <div class="input-group-prepend">
                            <button class="btn btn-info btn-sm text-light"
                                id="minus-@Model.ProductId">-</button>
                        </div>
                        <input type="number" class="form-control input-sm"
                            id="quantity-@Model.ProductId" value="1" min="1"
                            step="1">
                        <div class="input-group-append">
                            <button class="btn btn-info btn-sm text-light"
                                id="plus-@Model.ProductId">+</button>
                        </div>
                        <input type="hidden" name="productId"
                            value="@Model.ProductId">
                        <input type="hidden" name="quantity" value="1">
                    </div>
                </div>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div>
                    <div class="col-auto">
                        <a class="btn btn-outline-info float-right my-2"
                            asp-controller="Account" asp-action="Login">Sepete
                            Ekle</a>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <div class="col-auto">
                        <button class="btn btn-outline-info float-right my-2"
                            type="submit" AutoPostBack="false">Sepete Ekle</button>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
